@font-face {
    font-family: "IosevkaTermNF";
    src:
      local("IosevkaTerm Nerd Font"),
      url("IosevkaTermNerdFont-Regular.woff") format("woff");
  }

@font-face {
  font-family: "MesloLGSNF";
  src:
    local("Meslo Nerd Font"),
    url("MesloLGS-NF-Regular.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* @font-face {
  font-family: "MesloLGSNF";
  src:
    local("Meslo Nerd Font"),
    url("MesloLGS-NF-Bold.woff2") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "MesloLGSNF";
  src:
    local("Meslo Nerd Font"),
    url("MesloLGS-NF-Italic.woff2") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "MesloLGSNF";
  src:
    local("Meslo Nerd Font"),
    url("MesloLGS-NF-Bold-Italic.woff2") format("woff");
  font-weight: bold;
  font-style: italic;
} */