<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="light dark">

  {{if not (fileExists "curvenote.started")}}
  <meta http-equiv="refresh" content="5">
  <title>Loading Curvenote Preview</title>
  {{else}}
  <meta http-equiv="refresh" content="30">
  <title>Curvenote Preview Error</title>
  {{end}}

  <style type="text/css">
    {
        {
        include "css/pico.green.min.css"
      }
    }
  </style>
</head>

<body>
  <main class="container">
    {{if not (fileExists "curvenote.started")}}
    <h1>Loading Curvenote Preview</h1>
    {{if (fileExists "curvenote.title")}}
    <h2>{{readFile "curvenote.title"}}</h2>
    {{end}}
    <progress id="loading-progress" value="0" max="5" />
    <p>The Curvenote server is loading. Please wait and the page will refresh.</p>

    <script type="text/javascript">
      let timeElapsed = 0;
      const countdownElement = document.getElementById('loading-progress');

      const timer = setInterval(() => {
        countdownElement.setAttribute("value", timeLeft);
        timeElapsed += 0.1;

        if (timeLeft >= 5) {
          clearInterval(timer);
        }
      }, 100);
    </script>

    {{else if not (fileExists "curvenote.yml")}}
    <h1>⚠️ No DevNote Found</h1>
    <p>We didn't find a Developer Note in the current directory. Perhaps you're not in the main DevNote directory (check
      for <code>curvenote.yml</code>).</p>
    <p>You are trying to preview a devnote in <code>{{readFile "preview.cwd"}}</code></p>
    {{else}}
    <h1>⚠️ Error Loading Preview</h1>
    <section>
      <p>Curvenote preview is sad. Please bear with us.</p>
      <p>Look at the Curvenote logs and see if there's an error in your DevNote or configuration that can be fixed. Once
        you fix it, the server should restart automatically. If it doesn't, close the preview tab and open the DevNote
        preview again.</p>
    </section>
    {{end}}
    <section id="accordions">
      <h2>Logs</h2>
      <details>
        <summary>
          <h3>Curvenote</h3>
        </summary>
        <code>
                        {{$lines := readFile "curvenote.log" | splitList "\n"}}
                        {{range slice $lines (sub (len $lines) 20)}}
                        {{.}}<br>
                        {{end}}
                </code>
      </details>

      <details>
        <summary>
          <h3>Preview Server</h3>
        </summary>
        <code>
                        {{$lines := readFile "preview.log" | splitList "\n"}}
                        {{range slice $lines (sub (len $lines) 20)}}
                        {{.}}<br>
                        {{end}}
                </code>
      </details>
    </section>
  </main>

  <footer class="container">
    <hr>
    <p class="pico-color-grey-50"><small>
        {{placeholder "http.request.orig_method"}}
        {{placeholder "http.request.orig_uri"}}
        {{placeholder "http.error.status_code"}}
        {{placeholder "http.error.status_text"}}<br>
        {{placeholder "http.error.message"}}<br>
      </small></p>
  </footer>
</body>

</html>